
    <div class="chatSection">
        <div class="chatHeader">
            <div class="appName">
                <h1>Chat & Enjoy</h1>
            </div>
        </div>    
        <div class="allChat">
            <a href="./singleUser" class="singleUser">
                <div class="userImage">
                    <img src="./images/user.jpg" alt="">
                </div>
                <div class="userName">
                    <h2>Mohammad Yaseen</h2>
                </div>
            </a>
            <a href="./singleUser" class="singleUser">
                <div class="userImage">
                    <img src="./images/user.jpg" alt="">
                </div>
                <div class="userName">
                    <h2>User 2s</h2>
                </div>
            </a>
            <a href="./singleUser" class="singleUser">
                <div class="userImage">
                    <img src="./images/user.jpg" alt="">
                </div>
                <div class="userName">
                    <h2>Zain Ul Basit</h2>
                </div>
            </a>
        </div>
    </div>
