
    <div class="chatHeader">
        <a href="" class="back">
            <i class="fa fa-arrow-left"></i>
        </a>
        <img  class="img" src="./user.jpg" alt="">
       
        <h1 class="username">Mohammad Yaseen</h1>
    </div>
    <div class="chatBodySection">
        <div class="chatBody">
            <div class="messageBox">
                <div class="messages">
                    <p class="msg msgSender">Hello Sir</p>
                    <p class="msg msgReciever">Hello , how are you</p>
                </div>
            </div>
        </div>
            <form class="msgForm" action="">
                <input type="text" placeholder="Type message here">
                <button class="btn">Send</button>
            </form>

    </div>
